{
    "endOfLine": "lf",
    "printWidth": 80,
    "trailingComma": "all",
    "singleQuote": false,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderBuiltinModulesToTop": true
}