TELEGRAM_BOT_TOKEN=""
BOT_NAME="crypto-payments-bot"
DEFAULT_LOCALE="en"
RATE_LIMITER='{ "message": 3 }'
ALLOWED_UPDATES='[ "message", "chosen_inline_result", "inline_query", "callback_query" ]'
ADMIN_ID=295162096
DONATE_URL=https://send.monobank.com.ua/rtMR86Mk
INLINE_QUERY_CACHE_TIME=0
LOGGER_STDOUT=true
LOG_UPDATES=true